@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');

#name {
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: "IBM Plex Sans",sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 600;
}

h2, h1, h3, h4, .btn {
  font-family: "IBM Plex Sans",sans-serif;
}

.fs-7 {
  font-size: 0.9rem !important;
}

.rounded-lg {
  border-radius: 25px;
}

.linked-text:hover {
  color: black !important;
}

.nav-item {
  font-family: "IBM Plex Sans",sans-serif;
  font-weight: 300;
  letter-spacing: 0.05em;
}

p, li {
    font-family: "IBM Plex Sans",sans-serif;
    font-weight: 300;
    line-height: 1.6;
}

b {
  font-weight: 800;
}

.fit-image {
    width: 100%;
    object-fit: cover;
    max-height: 480px;
}

.fit-image:hover {
  opacity: 75%;
}

.top-buffer { margin: 10px 0 10px 0; }

.shadow-img {
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
    transition: transform .5s;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
    ;
}

.shadow-img:hover {
    transform: scale(1.02);
    cursor: pointer;
}


.banner {
    width: 100%;
    background-image: url("imgs/glik/banner_glik.png");
    height: 450px;
    background-position: center;
    background-size: cover;
  }

  .banner-edunet {
    width: 100%;
    background-image: url("imgs/edunet/banner_edunet.png");
    height: 450px;
    background-position: center;
    background-size: cover;
  }

  .banner-feuc {
    width: 100%;
    background-image: url("imgs/feuc/banner_feuc.png");
    height: 450px;
    background-color:gray;
    background-position: center;
    background-size: cover;
  }

  .banner-cai {
    width: 100%;
    background-image: url("imgs/cai/banner_cai.png");
    height: 450px;
    background-position: center;
    background-size: cover;
  }

  .banner-sincerar {
    width: 100%;
    background-image: url("imgs/sincerar/banner_sincerar.png");
    height: 450px;
    background-position: center;
    background-size: cover;
  }

  /* .screenshot{
    height: 450px;
    background-position: center;
    background-size: cover;
  } */


  .projects {
    border-radius: 1rem;
  }

  .chip {
    font-weight: 400;
    color: rgb(35, 35, 35); 
    /* background-color: rgba(35, 35, 35, 0.10); */
    border: 1px solid rgb(35, 35, 35);
  }

  .light-chip {
    font-weight: 400;
    color: #f8f9fa; 
    /* background-color: rgba(35, 35, 35, 0.10); */
    border: 1px solid #f8f9fa;
  }

  .nav-link {
    color: gray;
    font-size: large;
  }

  .nav-link:hover {
    color: black;
  }
